body {
font-family: 'Montserrat:700', sans-serif;
}

/*html#cover {
  background: url(../images/splashed.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/


body, html {
    height: 100%;
    margin: 10;
}

.bg {
    /* The image used */
    background: url(../images/splashed.jpg) no-repeat center center fixed;

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.bg-lite {
    /* The image used */
    background: url(../images/splashed-wash.jpg) no-repeat center center fixed;

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cat-label {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
}


.header-logo {
    height: 90px;
}

.thumbnail {
    height: 250px;
    display: table;
}
.thumbnail img {
    max-height: 100%;
    max-width: 25%;
}
